.main-screen {
    position: relative;
    text-align: center;
}

.centered-text__content {
}
.main-screen__sky-img {
    background-image: url('../assets/sky.png');
    background-size: cover;  
    background-repeat: no-repeat;
    width: 100%;
    height: 42rem;
}
.main-screen__sky-img::after{
    content: "";
    background: linear-gradient(180deg, rgba(2,0,36,0.8) 0%, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 31%);
}
.centered-text{
    z-index: 200;
    position: absolute;
    inset: max(2rem, 3%) var(--container-padding)  0  var(--container-padding);;
    transform: translateY(-40vh);
}
.main-screen__city-img {
    z-index: 300;
    background-image: url('../assets/city.png');
    background-size: cover;  
    transform: translateY(-5.3vh);
    height: 60rem;
    width: 100%;
}

.centered-text__title {
    font-family: 'DrukCyrMedium';
    font-size: clamp(2.5rem, 6vw, 6rem);
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 2.3rem;
}
.centered-text__subtitle {
    font-size: clamp(1rem, 4vw, 1,25rem);
    line-height: 140%;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss06' on, 'cpsp' on, 'ss09' on;
    color: #FFFFFF;
}
@media(max-width: 45rem) {
    .centered-text{
    text-shadow: 2px 0 rgb(0, 0, 0), -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 0 -1px rgb(0, 0, 0),
             1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0), 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
}
