.partners {
    margin-top: -17rem;
}
.partners__title {
    font-family: 'DrukCyr';
    font-size: 2.5rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.patners__list {
    display: block;
    place-items: center;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}
.partners__card {
    align-self: stretch;
    padding: 1.5rem;
    border: 1px solid #E4E4E4;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
}
.partners__card-img {
    margin-bottom: 0.5rem;
    width: 100%;
    height: auto;
}
.partners__card-title {
    font-weight: 700;
    font-size: clamp(1rem, 1rem+4vh, 2rem);
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on, 'ss06' on, 'ss09' on, 'cpsp' on;
}
.partners__card-description {
    line-height: 140%;
    font-feature-settings: 'ss06' on, 'cpsp' on, 'ss09' on;
    margin-top: 0.8rem;
    margin-bottom: 3rem;
}
.partners__card__link {
    font-size: 1.1rem;
    line-height: 90%;
    letter-spacing: -0.02em;
    text-transform: lowercase;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    display: flex;
}
.partners__card__link-word{
    height: 1rem;
    margin: auto;
    margin-right: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}
.partners__card__link-word > * {
    display: block;
    height: 100%;
    margin-bottom: 1px;
    animation: spin__link__word-out 0.3s both
}
.partners__card__link-word:hover > * {
    animation: spin__link__word 0.3s both
}
.partners__card__link-word-second{
    color: var(--hover-color);
}
.partners__card__link-linkArrow{
    width: 7px;
}

@media(min-width: 45em){
    .partners {
        margin-top: -15rem;
    }
    .partners__title{
        margin-bottom: 2.5rem;
    }
    .patners__list {
        display: flex;
        margin-bottom: 6rem;
    }
    .partners__card-img {
        margin-bottom: 1.5rem;
    }

}