.solutions {
    background-color: var(--dark-color);
    color: white;
}
.solutions__header {
    font-family: 'DrukCyr';
    font-size: clamp(2.5rem, 7vw, 4.5rem);
    letter-spacing: 0.03em;
    padding: 0 var(--container-padding);
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    line-height: 100%;
}
.solution__card-left__index {
    font-family: 'DrukCyr';
    color: #707070;
    letter-spacing: 0.03em;
    font-size: 3rem;
    line-height: 110%;
    padding: 1rem 1.5rem ;
    padding-left: var(--container-padding);
    border: 1px solid #4D4D4D;
    margin-top: -6px;
    margin-bottom: 1.5rem;
}
.solution__card-left__description{padding: 0 var(--container-padding);}
.solution__card-left__description__title{
    font-weight: 700;
    font-size: 1.5em;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-bottom: 0.8rem;
    align-self: stretch;
}
.solution__card-left__description__subtitle {
    line-height: 140%;
    letter-spacing: -0.02em;
    margin-bottom: 1.5rem;
}
.solution__card-left__arrows {display: none;}
.solutions__card-right__img{
    min-height: clamp(32rem, 50vw,54rem);
}
.solutions__card-right__img-control {
    background-position: -50% -50%
}
.carousel {position: relative;}
.carousel__bullets {
    z-index: 10;
    position: absolute;
    display: flex;
    left: var(--container-padding);
    top: var(--container-padding);
    gap: 0.5rem;
}
.carousel__bullet {
    background: rgba(255, 255, 255, 0.64);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.carousel__bullet-active  {width: 6px;height: 6px;background: #FFFFFF;}
.employ__slider {}
.employ__slider-navigation{}
.employ__slider-list{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
}
.employ__card {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    position: relative;
    width: 100%;
    scroll-snap-align: start;
}
.employ__background {inline-size: 100%;}
.employ__desription{
    max-width: 95%;
    position: absolute;
    bottom: 1.5rem;
    left: var(--container-padding);
}
.employ__desription__status {
    width: max-content;
    font-size: 0.8rem;
    letter-spacing: -0.02em;
    margin-bottom: 0.8rem;
    padding: 4px 6px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(8px);
    border-radius: 59px;
}
.employ__desription__name{font-weight: 700;font-size: 2rem;margin-bottom: 0.5rem;}
.employ__desription__expiriense {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.64);
    margin-bottom: 0.8rem;
    line-height: 100%;
}
.employ__desription__contacts {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    font-size: 0.9rem;
    line-height: 140%;
}
.employ__desription__contacts-phone {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.employ__desription__contacts-email {}

@media(min-width: 45rem){
    .solutions{}
    .solutions__header{display: grid;grid-template-columns: repeat(3, 1fr);}
    .solutions__header-content{grid-column: 2 / span 2;}
    .solutions__card {display: grid;grid-template-columns: 1fr 2fr;border-top: 1px solid #4D4D4D;; }
    .solutions__card-left {
        grid-column: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 var(--container-padding);
    }
    .solution__card-left__index{
        padding-top: var(--container-padding) ;
        margin-top: 0px;
        border: none;   
        grid-row: 1 / 2;     
    }

    .solution__card-left__header{display: flex;justify-content: space-between;}
    .solution__card-left__arrows {
        position: absolute;
        z-index: 2;
        left: -6.5rem;
        top: -3%;
        display: block;
        padding-top: calc(var(--container-padding)*1.5);
        padding-right: var(--container-padding);
    }
    .solution__card-left__description {width: 90%;}
    .solutions__card-right {}
    .solutions__card-right__img{margin-bottom: -7px;}
    .employ__slider-list{grid-auto-columns: 50%;}
    .employ__card {flex: 1 0 50%;}
    .carousel__bullets {display: none;}
}