@import './styles/ui-kit.scss';
@import './styles/menu.scss';
@import './styles/main-screen.scss';
@import './styles/map.scss';
@import './styles/fonts.css';
@import './styles/partners.scss';
@import './styles/solutions.scss';
@import './styles/news.scss';
@import './styles/footer.scss';

:root{
    --container-padding: 4%;
    --dark-color: #2E2E2E;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'PTRootUIWebLight';
    color: #2E2E2E;
}
html {
    font-size: 16px;
}
.App {

}
.container{
    padding: 0 var(--container-padding);
}

